<!DOCTYPE html>

<html lang="de">
<head>

    <!-- ======== Für die Basispage ======= -->

    <meta charset="UTF-8">
    <meta name="author" content="Sebastian Braun  549301"/>

    <title>Overlays</title>

    <!-- ======= Für mobile Geräte =======  -->

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <!-- ======= CSS ======= -->

    <link rel="stylesheet" href="/assets/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/grid.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/layout.css" type="text/css" media="all">
    <!--<link rel="stylesheet" href="scss/layout.scss" type="text/css" media="all">-->

    <!-- ======= Google Fonts ====== -->

    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>

</head>
<!-- Ende Headbereich -->
<body>
<!-- Header -->
<header id="header" class="shadow1">

    <h1 class="hidden">Overlays Reloaded</h1>
    <h2 class="hidden">Highscoreseite für Overlays reloaded</h2>
    <section class="container">
        <h2 class="hidden">Wir befinden uns im Bereich Logo und Navigation</h2>
        <!-- Logo & Hauptnavigation -->
        <section class="logo"><a href="index.html"><img src="/assets/overlay_logo_392x66.png"
                                                        alt="Logo von overlays reloaded"/></a>
            <h2 class="hidden">Hier ist der Logobereich</h2>
        </section>
        <section class="mainmenu">
            <h2 class="hidden">Hier beginnt das Menü</h2>
            <nav id='menu'>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">Über uns</a></li>
                    <!--<li class='submenu'><a href="#">Wissenswertes</a>-->
                    <!--<ul>-->
                    <!--<li class='submenu'><a href='html.html'><span>HTML5</span></a></li>-->
                    <!--<li class='submenu'><a href='css.html'><span>CSS3</span></a></li>-->
                    <!--<li class='submenu'><a href='javas.html'><span>Javascript</span></a></li>-->
                    <!--</ul>-->
                    <!--</li>-->
                    <li class='last'><a href='contact.html'><span>Kontakt</span></a></li>
                </ul>
            </nav>
            <!-- Ende Hauptnavigation -->
        </section>
    </section>
    <!-- Ende Container -->

    <!-- Responsive Menu -->
    <form id="responsive-menu" action="#" method="post">
        <select>
            <option value="">Navigation</option>
            <option value="index.html">Home</option>
            <option value="about.html">About</option>
            <option value="contact.html">Kontakt</option>
        </select>
    </form>
</header>
<!-- Ende Header -->


<!-- Beginn Infobox -->
<section class="info">
    <div id="particles-js"></div>

    <h2 class="hidden">Kurzer Infobereich der Webseite</h2>

    <div class="container info minus-margin">
        <header>
            <h1 class="white">OVERLAYS HIGHSCORE</h1>

        </header>
        <hr class="separator">
    </div>
    <!-- Ende Container -->
</section>
<!-- Ende Infobox -->

<section class="container fields">
    <div class="padding">
        <h2 class="hidden">Erste Box in der Mitte der Webseite mit den Highscores von Overlays</h2>
        <div>
            <figure class="shadow">
                <figcaption>
                    <table style="width:100%">
                        <tr class="margin-top">
                            <th style="width: 20%">
                                <img class="left padding" src="/assets/crown_84px.png" alt="image der goldenen Krone"/>
                            </th>

                            <!--
                            <th><h2 class="left padding">1. Jimmy</h2></th>
                            <th><h2 class="right padding">1082</h2></th>
                            -->

                            <th><h2 class="left padding">1. <%= @scores[0].player %> </h2></th>
                            <th><h2 class="right padding">  <%= @scores[0].score %> </h2></th>



                        </tr>
                        <tr>
                            <th>
                                <img class="left padding" src="/assets/silver_crown_84.png" alt="image der silbernen Krone"/>
                            </th>
                            <td><h2 class="left padding">2. Jill</h2></td>
                            <td><h2 class="right padding">1061</h2></td>
                        </tr>
                        <tr>
                            <th>
                                <img class="left padding" src="/assets/bronze_crown_84px.png" alt="image der goldenen Krone"/>
                            </th>
                            <td><h2 class="left padding">3. Eve</h2></td>
                            <td><h2 class="right padding">1001</h2></td>
                        </tr>
                    </table>
                    <hr class="separatorDark">
                    <table style="width:100%">
                        <tr>
                            <th><h4 class="left padding ">4. Jimmy2</h4></th>
                            <th></th>
                            <th><h4 class="right padding">888</h4></th>
                        </tr>
                        <tr>
                            <td><h4 class="left padding">5. Jill2</h4></td>
                            <td></td>
                            <td><h4 class="right padding">777</h4></td>
                        </tr>
                        <tr>
                            <td><h4 class="left padding">6. Eve2</h4></td>
                            <td></td>
                            <td><h4 class="right padding">555</h4></td>
                        </tr>
                    </table>
                    <div class="ico animated">

                        <!--<div class="circle circle-top"></div>-->
                        <!--<div class="circle circle-main"></div>-->
                        <!--<div class="circle circle-bottom"></div>-->

                        <!--<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve" >-->
                                  <!--<defs>-->
                                    <!--<clipPath id="cut-off-arrow">-->
                                      <!--<circle cx="306" cy="306" r="287"/>-->
                                    <!--</clipPath>-->

                                    <!--<filter id="goo">-->
                                      <!--<feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />-->
                                      <!--<feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />-->
                                      <!--<feBlend in="SourceGraphic" in2="goo" />-->
                                    <!--</filter>-->

                                  <!--</defs>-->
                                    <!--<path  class="st-arrow" d="M317.5,487.6c0.3-0.3,0.4-0.7,0.7-1.1l112.6-112.6c6.3-6.3,6.3-16.5,0-22.7c-6.3-6.3-16.5-6.3-22.7,0-->
                                                    <!--l-86,86V136.1c0-8.9-7.3-16.2-16.2-16.2c-8.9,0-16.2,7.3-16.2,16.2v301.1l-86-86c-6.3-6.3-16.5-6.3-22.7,0-->
                                                    <!--c-6.3,6.3-6.3,16.5,0,22.7l112.7,112.7c0.3,0.3,0.4,0.7,0.7,1c0.5,0.5,1.2,0.5,1.7,0.9c1.7,1.4,3.6,2.3,5.6,2.9-->
                                                    <!--c0.8,0.2,1.5,0.4,2.3,0.4C308.8,492.6,313.8,491.3,317.5,487.6z"/>-->
                        <!--</svg>-->
                    </div>
                </figcaption>
            </figure>
        </div>
    </div>
</section>
<!-- end container -->

<!-- Footer  -->
<section class="footer">
    <h2 class="hidden">Hier finden wir den Fußbereich</h2>
    <section class="container">
        <h2 class="hidden">Hier befinden Kontaktdaten unserer Firma </h2>
        <!--<section class="one_third">-->
        <!--<h3>Kontaktinformationen</h3>-->
        <!--<p><span class="cyan"><strong>Addresse:</strong></span> <br>-->
        <!--Alte Försterei 1 12555 Berlin</p>-->
        <!--<p><span class="cyan"><strong>Phone:</strong></span> <br>-->
        <!--+ 49 30 123 456 88<br>-->
        <!--</p>-->
        <!--<p><span class="cyan"><strong>Email:</strong></span> <br>-->
        <!--info@webpräsenz.de<br>-->
        <!--</p>-->
        <!--<a href="impressum.html">Impressum</a>-->
        <!--</section>-->
        <!-- Ende field 1 -->
    </section>
    <p class="copyright">2018 Copyright &copy;Overlays Reloaded All rights reserved. </p>
</section>
<!-- Ende Footer -->

<script src="/assets/jquery-3.1.1.min.js"></script>
<script src="/assets/particles.js"></script>
<script src="/assets/app.js"></script>

</body>
</html>
