/* CSS Document */

/*
 * Infoseite
 * Copyright 2018, Sebastian Braun
*/


/* ================================================
				Table of Content
===================================================
	#Mainstyles
	#Content - Logo - Menus - Arrow
	#Shadowstyles
	#Placeholder
	#Infoboxes
	#Footer
	#Copyright
	#About
	#Contactform
	#Shortcodes
	#Media Queries
*/

/* ================================
			MAINSTYLES
================================ */

/* Container */
img, embed, object, video {
	max-width: 100%
}
hr.separator {
	height: 1px;
	margin: 40px 0;

	/* Darstellung hr (engl. hr = horizontal ruler = horizontale Linie)im Browser */

	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0)); /* (Safarie - OSX) */
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));	/* (Firefox) */
	background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));		/* (Microsoft) */
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));		/* (Opera)*/
	border: 0;
}
hr.separatorDark {
	height: 1px;
	margin: 40px 0;

	/* Darstellung hr (engl. hr = horizontal ruler = horizontale Linie)im Browser */

	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgb(47, 47, 47), rgba(0, 0, 0, 0)); /* (Safarie - OSX) */
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgb(47, 47, 47), rgba(0, 0, 0, 0));	/* (Firefox) */
	background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));		/* (Microsoft) */
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));		/* (Opera)*/
	border: 0;
}
hr.separator1 {
	height: 1px;
	margin: 15px 0;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));
	background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
	border: 0;
}
hr.separator2 {
	height: 1px;
	margin: 30px 0 0 0;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));
	background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
	border: 0;
}

/* ========================================
 		CONTENT - LOGO - MENU - ARROW
========================================== */


#header {
	background: #141414;
	border-bottom: 4px solid #0fa1e0;
	background: -moz-linear-gradient(top, #333333 0%, #141414 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #141414));
	background: -webkit-linear-gradient(top, #333333 0%, #141414 100%);
	background: -o-linear-gradient(top, #333333 0%, #141414 100%);
	background: -ms-linear-gradient(top, #333333 0%, #141414 100%);
	background: linear-gradient(to bottom, #333333 0%, #141414 100%);
	margin-top:0px;
}
.logo {
	/*width: 50%;*/
	/*height: 50%;*/
	float: left;
	padding-top: 1%;
}
.logo:hover {
	opacity: 0.6;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.mainmenu {
	float: right;
}

.left {
	float: left;
}

.right {
	float: right;
}
.minus-margin {
	margin-top: -50%;
}
.margin-top {
	margin-top: 20px;
}
.margin-left {
	margin-left: 2%;
}
.padding {
	padding: 5% 5% 0% 5%;
}
.padding-top {
	padding-top: 8%;
}

.padding-left {
	padding-left: 20%;
}

tr:first-child {
	padding-top: 1%;
}


/************* MainMenu ************/

#menu ul,
#menu li,
#menu span,
#menu a {
	margin: 0;
	padding: 0;
	position: relative;
}
#menu {
	line-height: 3;
	background: #141414;
	background: -moz-linear-gradient(top, #333333 0%, #141414 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #141414));
	background: -webkit-linear-gradient(top, #333333 0%, #141414 100%);
	background: -o-linear-gradient(top, #333333 0%, #141414 100%);
	background: -ms-linear-gradient(top, #333333 0%, #141414 100%);
	background: linear-gradient(to bottom, #333333 0%, #141414 100%);

	width: auto;
}
#menu:after,
#menu ul:after {
	content: '';
	display: block;
	clear: both;
}
#menu a {
	font-family: 'Oswald', serif;
	background: #141414;
	background: -moz-linear-gradient(top, #333333 0%, #141414 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #141414));
	background: -webkit-linear-gradient(top, #333333 0%, #141414 100%);
	background: -o-linear-gradient(top, #333333 0%, #141414 100%);
	background: -ms-linear-gradient(top, #333333 0%, #141414 100%);
	background: linear-gradient(to bottom, #333333 0%, #141414 100%);

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	color: #ffffff;
	display: block;
	padding: 19px 20px;
	text-decoration: none;
	text-transform: uppercase;
}
#menu ul {
	list-style: none;
}
#menu > ul > li {
	display: inline-block;
	float: left;
	margin: 0;
}
#menu.align-center {
	text-align: center;
}
#menu.align-center > ul > li {
	float: none;
}
#menu.align-center ul ul {
	text-align: left;
}
#menu.align-right > ul {
	float: right;
}
#menu.align-right ul ul {
	text-align: right;
}
#menu > ul > li > a {
	color: #ffffff;
	font-size: 15px;
}
#menu > ul > li:hover:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	bottom: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #0fa1e0;
	margin-left: -10px;
}

#menu > ul > li.active > a,
#menu > ul > li:hover > a {
	color: #ffffff;
	background: #ffffff;
	background: -moz-linear-gradient(top, #525252 0%, #17202c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #525252), color-stop(100%, #17202c));
	background: -webkit-linear-gradient(top, #525252 0%, #17202c 100%);
	background: -o-linear-gradient(top, #525252 0%, #17202c 100%);
	background: -ms-linear-gradient(top, #525252 0%, #17202c 100%);
	background: linear-gradient(to bottom, #525252 0%, #17202c 100%);
}
#menu .submenu {
	z-index: 1;
}
#menu .submenu:hover > ul {
	display: block;
}
#menu .submenu ul {
	display: none;
	position: absolute;
	width: 200px;
	top: 100%;
	left: 0;
}
#menu.align-right .submenu ul {
	left: auto;
	right: 0;
}
#menu .submenu ul li {
	*margin-bottom: -1px;
}
#menu .submenu ul li a {
	background: #00a7d9;
	border-bottom: 1px solid #3bb9cf;
	font-size: 14px;
	filter: none;
	display: block;
	line-height: 120%;
	padding: 10px;
	color: #ffffff;
}
#menu .submenu ul li:hover a {
	background: #1d73b0;
}
#menu ul ul li:hover > a {
	color: #ffffff;
}
#menu .submenu .submenu:hover > ul {
	display: block;
}
#menu .submenu .submenu ul {
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
}
#menu.align-right .submenu .submenu ul,
#menu.align-right ul ul ul {
	left: auto;
	right: 100%;
}
#menu .submenu .submenu ul li a {
	background: #0c7fb0;
	border-bottom: 1px dotted #31b7f1;
}
#menu .submenu .submenu ul li a:hover {
	background: #0a6d98;
}

/************* RESPONSIVE MENU *************/

#responsive-menu {
	display: none;
	float: left;
}
@media only screen and (max-width: 767px) {
	#mainmenu {
		visibility: hidden;
		height: 0;
	}
	#responsive-menu {
		display: inline-block;
		width: 100%;
		margin: 20px 0px 20px 20px;
	}
}

/******************* ARROW *******************/

.downArrow{
	bottom: 45%;
	left: 50%;
}
.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

/* ===============================
 		SHADOW STYLES
================================ */

.shadow {
	position: relative;
	-moz-box-shadow: 15px 15px 12px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 15px 15px 12px rgba(0, 0, 0, 0.6);
	box-shadow: 15px 15px 12px rgba(0, 0, 0, 0.6);
}
.shadow:before, .shadow:after {
	content: '';
	position: absolute;
	z-index: -1;
	bottom: 15px;
	-moz-box-shadow: 15px 15px 12px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 15px 15px 12px rgba(0, 0, 0, 0.6);
	box-shadow: 15px 15px 12px rgba(0, 0, 0, 0.6);
}
.shadow:before {
	right: 10px;
	-moz-transform: rotate(4deg) skewX(4deg);
	-webkit-transform: rotate(4deg) skewX(4deg);
	-o-transform: rotate(4deg) skewX(4deg);
	-ms-transform: rotate(4deg) skewX(4deg);
	transform: rotate(4deg) skewX(4deg);
}

.shadow1 {
	position: relative;
	-moz-box-shadow: 14px 14px 10px -10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 14px 14px 10px -10px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 14px 10px -10px rgba(0, 0, 0, 0.4);
}
.shadow1:before, .shadow1:after {
	content: '';
	position: absolute;
	z-index: -1;
	bottom: 15px;
	-moz-box-shadow: 0px 15px 12px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 15px 12px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 15px 12px rgba(0, 0, 0, 0.2);
}
.shadow1:before {
	right: 10px;
	-moz-transform: rotate(4deg) skewX(4deg);
	-webkit-transform: rotate(4deg) skewX(4deg);
	-o-transform: rotate(4deg) skewX(4deg);
	-ms-transform: rotate(4deg) skewX(4deg);
	transform: rotate(4deg) skewX(4deg);
}

/* ============================================
 				PLACEHOLDER
============================================= */

.placeholder {
	padding:20px 0 0 0;
	margin-bottom:40px;
}
.placeholder h3, .placeholder p {
	text-align:center;
}

/* ============================================
 				INFOBOX
============================================= */

.info {
	text-align:center;
	padding-top:40px;
}
p.infop {
	font-size:16px;
	font-style:italic;
	margin-top:40px;
	margin-bottom:0;
}

/************** SPAN COLORS ****************/

span.cyan {
	color: #3bb9cf;
}
span.blue {
	color: #1471B6;
}
span.yellow {
	color: #E4A227;
}
span.orange {
	color: #E34F26
}
span.red {
	color: #ff1801;
}

/****************************** Latest ******************************/

.fields figure {
	margin-bottom: 30px;
}
.fields figure .thumb {
	padding-bottom: 10px;
	display: block;
}
.fields figure .thumb img:hover {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	opacity: 0.6;
}
.fields figure {
	background: #f9eee3;
	border-top: 10px solid #f9eee3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.fields figure figcaption {
	margin: 0 20px;
	text-align: center;
	padding:0 0 10px 0;
}
.fields figure figcaption .heading {
	margin-bottom: 10px;
	font-size: 24px;
	text-transform: uppercase;
	display: block;
}

/* =============================
 			FOOTER
=============================== */

.footer {
	margin: 20% 0 0 0 ;
	padding:2%;
	background:#141414;
	border-top: 4px solid #0fa1e0;
	background: -moz-linear-gradient(top, #333333 0%, #141414 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #141414));
	background: -webkit-linear-gradient(top, #333333 0%, #141414 100%);
	background: -o-linear-gradient(top, #333333 0%, #141414 100%);
	background: -ms-linear-gradient(top, #333333 0%, #141414 100%);
	background: linear-gradient(to bottom, #333333 0%, #141414 100%);
}
.footer p {
	color: #ffffff;
	text-shadow:none;
	font-size:12px;
}
.footer h3 {
	color: #0fa1e0;
	font-size:16px;
}

/* ==========================
		COPYRIGHT
=========================== */

#copyright {
	background: #1f1f1f;
	border-top:1px solid #000;
}
p.copyright {
	font-size:11px;
	color: #cee6f1;
	text-align:center;
	text-shadow:none;
	padding-top:10px;
}

/* =========================================
 				ABOUT
========================================== */

.myself {
	margin-top: 30px;
	padding:20px 0 0 0;
	text-align:center;
}
.myself h3 {
	margin-bottom:0;
}
p.myself {
	font-size:14px;
	font-style:italic;
	color: #1a2b40;
	margin-bottom: 30px;
}
.myself h5 {
	text-transform:capitalize;
	font-size:14px;
}
img.myselfimage {
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
}

/* ==============================
 			CONTACT FORM
=============================== */

form#contact_form input[type="text"] {
	border: 1px solid #8aa3bd;
	background-color: white;
	height: 30px;
	padding: 0 10px;
	width: 250px;
	margin-bottom:20px;
}
form#contact_form input#email {
	border: 1px solid #8aa3bd;
	background-color: white;
	height: 30px;
	padding: 0 10px;
	width: 250px;
	margin-bottom:20px;
}
form#contact_form textarea {
	border: 1px solid #8aa3bd;
	background-color: white;
	width: 500px;
	margin-bottom:20px;
}
form#contact_form label {
	margin-right: 20px;
	font-size: 12px;
	font-weight:bold;
	text-transform: uppercase;
}
form#contact_form input[type="text"]:focus, form#contact_form input[type="text"]:hover,
form#contact_form textarea:focus, form#contact_form textarea:hover, form#contact_form
input[type="text"]:focus, form#contact_form input[type="text"]:hover, form#contact_form
textarea:focus, form#contact_form textarea:hover {
	background-color: #c6e9ff;
}
form#contact_form input[type="submit"], input[type="reset"] {
	border:1px solid #8aa3bd;
	padding:5px;
	font-size:11px;
	text-transform:uppercase;
	margin-bottom:10px;
}
form#contact_form input[type="submit"]:hover, input[type="reset"]:hover {
	background-color: #00a7d9;
}
.map-container {
	margin-top:-40px;
	position: relative;
	padding-bottom:20%;
	margin-bottom:40px;
	overflow: hidden;
}
.map-container iframe, .map-container object, .map-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
}
.map_frame {
	width: 600px;
	height: 200px;
	border: hidden;

}
.contact .first {
	padding:10px;
	margin-bottom:40px;
}
.contact ul li {
	font-size:14px;
}

/* =============================
 			SHORTCODES
============================== */

/* Content Shortcodes */
.one_half {
	width: 45%;
}
.one_third {
	width: 30.66%;
}
.two_third {
	width: 65.33%;
}
.one_half, .one_third, .two_third {
	margin-right: 4%;
	margin-bottom: 10%;
	float: left;
}
.lastcolumn {
	margin-right: 0!important;
	clear: right;
}
.center {
	margin: auto;
	width: 50%;
}
/* #Page Styles
================================================== */
.content {
	padding-top: 20px;
}
.content.right {
	float: right;
}

/* =================================================
				MEDIA QUERIES
================================================== */


@media only screen and (max-width: 1300px) {
.caption {
  width:30%;
}
}
@media only screen and (max-width: 1100px) {
.caption {
  display:none;
}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
.caption {
	display:none;
}
form#contact_form textarea {
 width: 350px;
}
}

@media only screen and (max-width: 767px) {

h3 {
	font-size: 1.5em;
}
.mainmenu select {
 position:absolute;
 top:0;
 right:0;
 margin-top:40px;
}
.mainmenu {
 height:10px;
}
.one_half, .one_third, .two_third{
width: 100%;
}
.caption {
 display:none;
}
.info h1 {
 line-height:40px;
 font-size:36px;
}
form#contact_form textarea {
 width: 300px;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

h3 {
	font-size: 1em;
}

.mainmenu select {
 position:absolute;
 top:0;
 right:0;
 margin-top:40px;
}
.mainmenu {
 visibility: hidden;
}
 ul.tabs {
 margin-top:20px;
}
.caption {
 display:none;
}
.info h1 {
 line-height:40px;
 font-size:36px;
}
form#contact_form textarea {
 width: 300px;
}
}

@media only screen and (max-width: 479px) {
h3{
	font-size: 0.8em;
}
.mainmenu select {
 position:absolute;
 top:0;
 right:0;
 margin-top:40px;
 width:40%;
}
.mainmenu {
 height:10px;
}
.caption {
 display:none;
}
ul.tabs {
 margin-top:20px;
}
ul.tabs li {
 padding: 0 5px 0 0px;
}
 .mainmenu {
visibility: hidden;
}
.info h1 {
 line-height:40px;
 font-size:36px;
}
form#contact_form textarea {
 width: 200px;
}
form#contact_form input[type="text"] {
 width: 150px;
}
form#contact_form input#email {
 width: 150px;
}
}
